.tab {
    overflow: hidden;
}
.tab button {
    background-color: inherit;
    /* float: right; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: bold;
    color: gray;
}
.tab button:hover {
    background-color: #ddd;
}
.btn {
    float: right;
}
