
<div class="tab">
    <img src="assets/logo.png">
    <div class="btn">
            <button>E-BOOKS</button>
            <button>CLASS</button>
            <span style="font-weight: bold"> | </span>
            <button>LOG IN </button>
            <button>SIGN UP</button>
            <button>
                <div class="search">
                    <input name="searchInput" placeholder="Search?" />
                    <img src='assets/search_icon.png'>
                </div>
            </button>   
    </div>
</div>
